@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    min-height: 100vh;
    background-color: #ffffff;
}